.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  
  grid-template-areas:
  "h h"
  "n c";


  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.header {
  grid-area: h;
  background-color: rgb(122, 248, 122);

}
.header img {
  width: 75px;
}
.nav {
  grid-area: n;
  background-color:honeydew;
}
.content {
  grid-area: c;
  background-color: rgb(137, 182, 241);
}
.content_img {
  height: 80px;
  width: 100%;
}
.content_avatar {
  height: 60px;
  width: 60px;
}